div {
  height: 200px;
  background: #e6ac0c;
  margin-top: 10px;
}

.main {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100px;
  background: #4ac15b;
  margin-top: 0;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.button_home {
  position: fixed;
  display: inline-block;
  margin-left: 80%;
  margin-top: 35px;
  height: 25px;
  width: 50px;
}

.button_news {
  position: fixed;
  display: inline-block;
  margin-left: 70%;
  margin-top: 35px;
  height: 25px;
  width: 50px;
}

.ph1{
  display: inline-block;
  height: 250px;
  width: 250px;
}

.ph2 {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-left: 18%;
}

.ph3 {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin-left: 18%;
}

.zh1, .zh2, .zh3 {
  display: inline-block;
  height: 85px;
  width: 90%;
  background: #3ac52b;
}

.sec {
  margin-top: 110px;
  height: 300px;
  background: #4c9161;
  text-align: center;
}

.sec1 {
  margin-top: 10px;
  height: 300px;
  background: #4c9161;
  text-align: center;
}

.third {
  height: 300px;
  text-align: center;
}

.fourth {
  background: #e729a7;
  height: 300px;
}